@using RandomWebApp
@{
    Layout = null;
    ViewBag.Title = "Random Data Web API";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <p>Provides the JSON/JSONP API to generate random data.</p>
        <h2>Interfaces</h2>
        <dl>
            <dt>NewAlphabets</dt>
            <dd>
                <p>Creates a new alphabets with the specified length.</p>
                <ul>
                    <li>
                        @Html.TextLink("/json/NewAlphabets/8")
                        <p>
                            e.g.
                            <pre>@("\"jVNXbgEA\"")</pre>
                        </p>
                    </li>
                </ul>
            </dd>
            <dt>NewAlphanumerics</dt>
            <dd>
                <p>Creates a new alphanumerics with the specified length.</p>
                <ul>
                    <li>
                        @Html.TextLink("/json/NewAlphanumerics/8")
                        <p>
                            e.g.
                            <pre>@("\"RzZbOj7s\"")</pre>
                        </p>
                    </li>
                </ul>
            </dd>
            <dt>NewBytes</dt>
            <dd>
                <p>Creates a new byte sequence with the specified length.</p>
                <ul>
                    <li>
                        @Html.TextLink("/json/NewBytes/hexlower/16")
                        <p>
                            The lowercase hexadecimal format.<br />
                            e.g.
                            <pre>@("\"9a605681933a5d3c66cb65dd052331ef\"")</pre>
                        </p>
                    </li>
                    <li>
                        @Html.TextLink("/json/NewBytes/hexupper/16")
                        <p>
                            The uppercase hexadecimal format.<br />
                            e.g.
                            <pre>@("\"9A605681933A5D3C66CB65DD052331EF\"")</pre>
                        </p>
                    </li>
                    <li>
                        @Html.TextLink("/json/NewBytes/base64/16")
                        <p>
                            The Base64 format.<br />
                            e.g.
                            <pre>@("\"I9K7dQKQkUWx+aCavrFilQ==\"")</pre>
                        </p>
                    </li>
                </ul>
            </dd>
            <dt>NewUuid</dt>
            <dd>
                <p>Creates a new UUID (GUID).</p>
                <ul>
                    <li>
                        @Html.TextLink("/json/NewUuid")
                        <p>
                            A <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier#Version_4_.28random.29" target="_blank">version 4 UUID</a>.<br />
                            e.g.
                            <pre>@("\"b018469a-98a7-4d51-9283-bf9efdea27be\"")</pre>
                        </p>
                    </li>
                </ul>
            </dd>
            <dt>NewOrderedId</dt>
            <dd>
                <p>
                    Creates a new time-ordered 16-byte ID with the UUID format.<br />
                    8 bytes of them represent ticks of date/time (by 10<sup>-7</sup> second) and the other 8 bytes are randomly generated.<br />
                    Returns a pair of the ID and the created date/time.
                </p>
                <ul>
                    <li>
                        @Html.TextLink("/json/NewOrderedId")
                        <p>
                            The upper 8 bytes represent ticks of date/time.<br />
                            e.g.
                            <pre>@("{\"id\":\"08d11c74-45cf-762f-e0f5-d5010081a7b1\",\"date\":\"2014-04-02T10:20:14.8958767Z\"}")</pre>
                        </p>
                    </li>
                    <li>
                        @Html.TextLink("/json/NewOrderedId/sqlserver")
                        <p>
                            Orders values in the uniqueidentifier data type in SQL Server.<br />
                            The lower 8 bytes represent ticks of date/time.<br />
                            e.g.
                            <pre>@("{\"id\":\"e0f5d501-0081-a7b1-762f-08d11c7445cf\",\"date\":\"2014-04-02T10:20:14.8958767Z\"}")</pre>
                        </p>
                    </li>
                </ul>
            </dd>
            <dt>NewOrderedId2</dt>
            <dd>
                <p>
                    Creates a new time-ordered 16-byte ID with the UUID format.<br />
                    6 bytes of them represent ticks of date/time (by about 10<sup>-3</sup> second) and the other 10 bytes are randomly generated.<br />
                    Returns a pair of the ID and the created date/time.
                </p>
                <ul>
                    <li>
                        @Html.TextLink("/json/NewOrderedId2")
                        <p>
                            The upper 6 bytes represent ticks of date/time.<br />
                            e.g.
                            <pre>@("{\"id\":\"8d11c744-5cf7-29b5-e0f5-d5010081a7b1\",\"date\":\"2014-04-02T10:20:14.8958767Z\"}")</pre>
                        </p>
                    </li>
                    <li>
                        @Html.TextLink("/json/NewOrderedId2/sqlserver")
                        <p>
                            Orders values in the uniqueidentifier data type in SQL Server.<br />
                            The lower 6 bytes represent ticks of date/time.<br />
                            e.g.
                            <pre>@("{\"id\":\"e0f5d501-0081-a7b1-29b5-8d11c7445cf7\",\"date\":\"2014-04-02T10:20:14.8958767Z\"}")</pre>
                        </p>
                    </li>
                </ul>
            </dd>
        </dl>
        <h2>Test</h2>
        <p>@Html.ActionLink("Test Page", "JsonTest")</p>
        <p>@Html.ActionLink("Test Page for JSONP", "JsonpTest")</p>
    </div>
    <div>
        <p>© 2014 Keiho Sakapon.</p>
    </div>
</body>
</html>
